{
  "extends" : "ship-components-base",

  "env": {
    "browser": false,     // browser global variables.
    "node": true,         // Node.js global variables and Node.js-specific rules.
    "jest" : true
  }
}
